---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Matias Portfolio">
  <Navbar />

  <section>
    <div>
      <img src="/src/assets/logo.png" alt="Logo" />

      <article>
        <h1>Sobre mí</h1>

        <p>
          Párrafo. Haz clic para editar y agregar tu propio texto. Es fácil. Haz
          clic en Editar Texto o doble clic aquí para agregar tu contenido y
          cambiar la fuente. Puedes arrastrar y soltar este texto donde sea que
          quieras en tu página. En este espacio puedes contar tu historia y
          permitir a tus usuarios saber más sobre ti.
        </p>
        <p>
          Este es un buen espacio para extenderte sobre tu compañía y servicios.
          Puedes usar este espacio para incorporar más detalles sobre tu
          empresa. Escribe sobre tu personal y los servicios que ofreces.
          Cuéntales a los visitantes la historia sobre cómo se te ocurrió la
          idea de tu negocio y diles qué te diferencia de tus competidores. Haz
          que tu empresa se destaque y muestra a tus visitantes quién eres.
        </p>
      </article>
    </div>
  </section>
</Layout>

<style>
  section {
    width: 100%;
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    font-size: 2rem;
  }

  img {
    width: 300px;
    height: auto;
    border-radius: 50%;
  }

  div {
    padding: 50px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    gap: 10px;
    border-radius: 20px;
  }

  article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  @media (width > 768px) {
    div {
      padding: 50px;
      width: 80%;
    }
  }

  @media (width > 1024px) {
    div {
      padding: 50px;
      width: 50%;
      flex-direction: row;
    }
  }
</style>
