---
import Navbar from "../components/Navbar.astro";
import Pilars from "../components/Pilars.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio">
  <Navbar />

  <main>
    <Pilars />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
  }
</style>
