---
const url = Astro.url.pathname;
---

<header>
  <section>
    <a href="/" class="logo">
      <img src="/src/assets/logo.png" alt="Logo Matias" />
      <h1>Matias Borsalino</h1>
    </a>

    <label for="menu-toggle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="menu-icon"
      >
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </label>
    <input type="checkbox" id="menu-toggle" />

    <nav>
      <a class="nav-link" href="/">Inicio</a>
      <a
        class="nav-link"
        class:list={{ active: url.includes("portfolio") }}
        href="/portfolio">Portfolio</a
      >
      <a
        class="nav-link"
        class:list={{ active: url.includes("about") }}
        href="/about">Sobre Mí</a
      >
      <a
        class="nav-link"
        class:list={{ active: url.includes("contact") }}
        href="/contact">Contacto</a
      >
    </nav>
  </section>
</header>

<style>
  header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #aa885f;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .logo img {
    width: auto;
    height: 70px;
  }

  .logo h1 {
    font-weight: bold;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  section {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .menu-icon {
    color: white;
  }

  input {
    display: none;
  }

  label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
  }

  input:checked ~ nav {
    display: flex;
    flex-direction: column;
    right: 0%;
    top: 90%;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }

  nav {
    position: absolute;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;

    border: 1px solid black;
    border-radius: 5px;
  }

  .active {
    background-color: black;
    color: white;
  }

  .nav-link {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
  }

  .nav-link:hover {
    background-color: black;
    color: white;
  }

  @media (width > 768px) {
    section {
      width: 80%;
    }
    label {
      display: none;
    }

    input:checked ~ nav {
      display: flex;
      flex-direction: row;
    }

    nav {
      position: static;
      display: flex;
      flex-direction: row;
      background-color: bisque;
    }

    .nav-link {
      padding: 5px;
      width: auto;
    }
  }
</style>

<script>
  document.addEventListener("click", function (event) {
    const checkbox = document.getElementById("menu-toggle");
    const navbar = document.querySelector("nav");

    console.log(event.target);
  });
</script>
